.fieldset-border {
  border: 1px solid rgb(107, 107, 107); /*Borda do campo*/
  box-shadow: 0px 0px 0px 0px rgb(156, 156, 156);
  width: 803.5px;
  height: 62.5px;
  margin-top: 32.5px;
  margin-left: 261px;
  border-radius: 7px;
  border-color: #d9d9d9;
}

.container /*fieldset-border .legend-border*/ {
  font-size: 14px;
  text-align: left;
  padding: 0 10px;
  border-bottom: none;
  color: black;
}

.formulario {
  font-size: 14px;
  text-align: left;
  padding: 0 10px;
  border-bottom: none;
  color: black;
  position: static;
  margin-left: 261px;
  width: 803.5px;
  height: 62.5px;
  top: 260px;
}

footer{
  margin-left: 261px;
}

.botao {
  /* background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* padding: 50px; /* espaçamento entre linhas */
  /* float: left; usado para adicionar a localicade do botão  */
  /* margin-left: 261px ; */
  position: absolute;
  width: 317px;
  margin-left: 0px;
  margin-top: 937px;
  bottom: 75px;
  background: #0f4c81;
  border-radius: 7px;
  float: left;
  color: #ffffff;
 
}


/* .botao .h1 { não esta sendo usando ainda

  width: 229px;
  height: 17px;
  margin-left: 105px;
  margin-top: 963px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 17px;

  text-align: center;
letter-spacing: 1px;

text-decoration-color: #FFFFFF;
} */

header h1 {
  text-align: left;
  width: 345px;
  height: 47px;
  margin-left: 261px;
  top: 177px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
}

.caminho {
  text-align: left;
  text-decoration-line: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #0f4c81;
  margin-left: 261px;
  margin-top: 40px;
}

.formulario-border {
  width: 316.5px;
  height: 62.5px;
  margin-left: 261px;
  top: 450px;
  border-radius: 7px;
  margin-top: 32.5px;
  border: 1px solid rgb(107, 107, 107); /*Borda do campo*/
  box-shadow: 0px 0px 0px 0px rgb(156, 156, 156);
}


.formsadd{
  background-color: red;
  height: 500px;
  display: flex;
  justify-content: center ;
}

.forms {
  background-color: white;
  width: 316.5px;
  height: 62.5px;
  margin-left: 261px;
  top: 450px;
  border-radius: 7px;
  margin-top: 32.5px;
  margin-bottom: 15px;
 
  ;
}

.cash{
  background-color: white;
  width: 316.5px;
  height: 62.5px;
  margin-left: 261px;
  top: 450px;
  border-radius: 7px;
  margin-top: 32.5px;
  margin-bottom: 15px;

}

.date{
  background-color: white;
  width: 316.5px;
  height: 62.5px;
  margin-left: 261px;
  top: 450px;
  border-radius: 7px;
  margin-top: 32.5px;
  margin-bottom: 15px;
}

.botton{
  height: 50px;
  width: 218px;
  margin-left: 261px;
  background: #0f4c81;
  color: #ffffff;
  bottom: 75px;
  display: flex;
  margin-bottom: 7px;
}