.caminho {
  text-align: left;
  text-decoration-line: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #0f4c81;
  margin-left: 261px;
  margin-top: 40px;
}

.fatherstyle {
  font-family: Raleway;
  font-style: normal;
  font-size: 20px;
  display: flex;
  flex-direction: row;
}

.infosleftstyle {
  display: flex;
  flex-direction: column;
  width: 922px;
  height: 360px;
  border-radius: 10px;
  border: #b2b2b2;
  margin-left: 261px;
}

.infostyle {
  display: flex;
  flex-direction: column;
}

.infostyledown {
  border: #b2b2b2;
}

.inforigthstyle {
  display: flex;
  flex-direction: column;
  width: 425px;
  height: 360px;
  border-radius: 10px;
  margin-left: 54px;
  font-family: Raleway;
  font-style: normal;
  font-size: 20px;
  background-color: #C4C4C4;
}

.classname {
  margin-left: 5%;
  /* largura */
  width: 700px;
  /* altura */
  height: 28px;

  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  font-feature-settings: "pnum" on, "lnum" on;
}
.classcor {
  margin-left: 5%;
  margin-top: 5px;
}
.classmarca {
  margin-left: 5%;
  margin-top: 10px;
}

.division {
  margin-block-start: 0px;
  margin-block-end: 0px;
  width: 859px;
  height: 0px;
  margin-left: 23px;
  top: 475px;
  border: 1px solid #d9d9d9;
}

.infostyledown {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 50px;
  margin-left: 50px;
}

.totalcash {
  margin-left: 150px;
  width: 124px;
  height: 28px;
}

.divisionrigthone{
  margin-block-start: 0px;
  margin-block-end: 0px;
  width: 377.5px;
  height: 0px;
  margin-left: 23px;
  top: 475px;
  border: 1px solid #d9d9d9;
  margin-top: 50px;
  display: flex;

}

.divisionrigthtwo{
  margin-block-start: 0px;
  margin-block-end: 0px;
  width: 377.5px;
  height: 0px;
  margin-left: 23px;
  top: 475px;
  border: 1px solid #d9d9d9;
  margin-top: 50px;
  display: flex;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;

}

.element{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border:1px solid red;
  margin-left: 5%;
  margin-right: 5%;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px; 
  margin-top: 25px ;
}

.pagamento{
  display: flex;
  align-items: center;
  border:1px solid red;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto; 
  margin-top: 25px;
}

.names{
  display: flex ;
  justify-content: space-between;
  align-items: center;
  border:1px solid red;
  margin-right:261px ;
  width: auto;
  
}

.campNotas{
  align-items: center;
  justify-content: space-between;
  border: 1px solid green;
  margin-left: 1240px;
  margin-right: 260px;
  margin-top: 20px;
  font-family: Raleway;
  color:#039500;
  border-radius: 7px;
}

.campoNotas{
  flex-direction: column;
  display: flex;
  align-items: center;
}